[flake8]
max-line-length = 120
extend-ignore = E203, W503, F822
exclude = 
    Old/,
    notebooks/old/,
    __pycache__,
    .git,
    .venv,
    *.ipynb
per-file-ignores =
  tests/*: E501,F401,F841,W291
  scripts/*: E501
  scripts/run_multi_demo.py: E402
