# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.pyc
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.jupyter/
*.jupyterlab-workspace

# macOS metadata
.DS_Store

# test artefacts
.coverage
outputs/
.venv/

# demo output
demo/*.xlsx
